name: 自动抓取订阅并更新仓库

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  update-subscription:
    runs-on: ubuntu-latest

    steps:
      - name: Clone 仓库
        uses: actions/checkout@v3

      - name: 设置 Python 环境
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: 安装依赖
        run: pip install requests

      - name: 执行脚本
        run: python3 scripts/auto_push.py

      - name: 提交更新
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "?? 自动更新订阅数据 [$(date +'%Y-%m-%d %H:%M')]"
          git push
